.btn {
  color: var(--blue);
  text-align: center;
  margin: 1rem 0rem;
  font-size: 0.9rem;
  padding: 0.5rem !important;
  background-color: #fff;
  border: 1px solid var(--blue);
  border-radius: 0.25rem;
  cursor: pointer;

  display: flex !important;
  align-items: center;
  justify-content: center;
  height: auto !important;
}

.btn:hover {
  background-color: var(--blue);
  color: #fff;
  transition: all 0.3s;
}

.btn-blue {
  background-color: var(--blue);
  color: #fff;
}

.btn-blue:hover {
  background-color: #fff !important;
  color: var(--blue) !important;
  transition: all 0.3s;
}
